*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.kotlin/errors/errors-1762698500916.log
/.kotlin/errors/errors-1762698587864.log
/.kotlin/errors/errors-1762698822130.log
/.kotlin/errors/errors-1762698880851.log
/.kotlin/errors/errors-1762699010508.log
/.kotlin/errors/errors-1762699135051.log
/.kotlin/errors/errors-1762699219200.log
/.kotlin/errors/errors-1762699294304.log
/.kotlin/errors/errors-1762699325400.log
/.kotlin/errors/errors-1762699633137.log
/.kotlin/errors/errors-1762700001971.log
/.kotlin/errors/errors-1762700060722.log
/.idea/gradle.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/vcs.xml
